
@font-face {
    font-family: opensans;
    src: url("../fonts/OpenSans-Regular.woff"), url("../fonts/OpenSans-Regular.woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: opensans;
    src: url("../fonts/OpenSans-Bold.woff"), url("../fonts/OpenSans-Bold.woff2");
    font-weight: 700;
    font-style: normal;
}

body {
    margin: 0;
    min-width: 320px;
}

.header {
    background-color: #0a0e34;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
    padding: 32px 20px 85px;
}

.header::after, .footer::after {
    content: "";
    background-image: url("../images/football_767.jpg") ;
    background-size: cover; 
    opacity: 0.1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.header_surface_logo, .footer__surface_logo {
    fill: #ffffff;
    width: 133px;
    height: 35px;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
}

.title, 
.footer_title {
    text-transform: uppercase;
    font-size: 28px;
    color: #ffffff;
    font-family: opensans;
    font-weight: 700;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 130px;
    margin-bottom: 80px;   
}

.title_two {
    align-self: flex-end;
    width: 80%;
    flex: auto;
}

.header__store-buttons {
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.header__store-button {
    width: 100%;
    max-width: 280px;
    height: 35px;
    background-color: #5e42b0;  
    border-radius: 17px;
    margin-top: 7px;
    margin-bottom: 7px; 
    display: flex; 
    align-items: center;
}

.header__store-button__app, 
.header__store-button__google {
    display: flex;
    text-decoration: none;
    padding-left: 28%;
}

.app_store, .google_play {
    fill: #ffffff;
    width: 24px;
    height: 24px; 
}

.store-button__title {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}

.store-button__title_one {
    font-weight: 400;
}

.store-button__title_two {
    font-weight: 700;
}

.store-button__title_one, 
.store-button__title_two {
    font-size: 8px;
    color: #ffffff;
    font-family: opensans;
    text-transform: uppercase;
}

.container_athlets, 
.container_players,
.section_container__card_01,
.section_container__card_02,
.section_container__card_03 {
    position: relative; 
    padding-top: 10px;
}

.container_player {
    overflow: hidden;
}

.container_athlets__image {
    position: absolute;
    top: 80px;
    left: 25%;
}

.container_players__image {
    position: absolute;
    top: 80px;
    left: 11px;
}

.container_athlets__header, 
.container_players__header, 
.container__card_01, 
.container__card_02, 
.container__card_03, 
.container_players__card_03,
.section_container__content {
    padding-left: 20px;
    padding-right: 20px;
    font-family: opensans;
    font-size: 15px;
}

.container_athlets__header, 
.container_players__header,
.section_container__header {
    font-size: 50px;
    color: #e7e7e7;
    font-family: opensans;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 225px;
    margin-top: 0;
}

.container__card_01, 
.container__card_02, 
.container__card_03, 
.container_players__card_03,
.section_container__content {
    padding-bottom: 50px;
}

.container__card_01 {
    background-color: #fafafa;
    padding-top: 82px;
}

.container__card_02 {
    background-color: #f5f4f9;
    padding-top: 50px;
}

.container__card_03, 
.container_players__card_03 {
    background-color: #5e42b0;
    padding-top: 50px;
}

.container_players__card_03 {
    background-color: #090c35;
}

.container__card_header, 
.container__card_header_02, 
.container_players__card_header_03,
.container__card_header_03 {
    font-size: 23px;
    color: #c1c1c1;
    font-family: opensans;
    font-weight: 700;
    text-transform: uppercase;   
    padding-left: 25px;
    position: relative; 
}

.container__card_header::before, 
.container__card_header_02::before, 
.container_players__card_header_03::before,
.container__card_header_03::before {
    content: "01";
    font-size: 14px;
    letter-spacing: 1px;
    color: #000000;
    font-family: opensans;
    font-weight: 700;
    top: 3px;
    left: 0;
    position: absolute;
}

.container__card_header_02::before {
    content: "02";
}

.container__card_header_03::before {
    content: "03";
    border-bottom-color: #ffffff;
}

.container_players__card_header_03::before {
    content: "03";
    color: #8765dd;
}

.container__card_header::after, 
.container__card_header_02::after, 
.container_players__card_header_03::after,
.container__card_header_03::after {
    content: "";
    height: 4px;
    width: 17px;
    background-color: #5e42b0;
    position: absolute;
    left: 0;
    top: 22px;
    border-radius: 2px;
}

.container_players__card_header_03::after,
.container__card_header_03::after {
    background-color: #ffffff;
}

.container__card_content, 
.container__card_content_02, 
.container__card_content_03,
.container_players__card_content_03,
.section_container__content {
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0;
}

.container__card_content_03,
.container_players__card_content_03 {
    color:  #ffffff;
}

.section_container_01,
.section_container_02,
.section_container_03 {
    display: flex;
    flex-direction: column;
}

.section_container__image__img {
    max-width: 100%;
    display: block;
} 

.section_container__card_01::before,
.section_container__card_02::before,
.section_container__card_03::before {
    content: "01";
    position: absolute;
    line-height: 70px;
    width: 70px;
    height: 70px;
    font-size: 14px;
    color: #f5f6f7;
    font-family: opensans;
    font-weight: 700;
    text-align: center;
    background-color: #5e42b0;
    top: -60px;
    left: 20px;
    z-index: 2;
}

.section_container__card_02::before {
    content: "02";
}

.section_container__card_03::before {
    content: "03";
}

.section_container__card_01::after,
.section_container__card_02::after,
.section_container__card_03::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 4px;
    border-radius: 1px;
    background-color: #ffffff;
    top: -15px;
    left: 47px;
    opacity: 0.4;
    z-index: 3;
}

.section_container__card_01,
.section_container__card_02,
.section_container__card_03 {
    padding: 20px 20px 50px;
}

.section_container__header {
    font-size: 28px;
    margin: 0;
}

.section_container__content {
    padding: 0;
}

.footer {
    background-repeat: no-repeat;
    background-color: #0a0e34;
    background-size: cover;
    padding: 100px 20px 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
}

.footer::after {
    background-image: url("../images/game_767.jpg");
}

.footer_logo_title {
    z-index: 2;
    margin-bottom: 75px;
    display: flex;
    flex-direction: column;
}

.footer_logo {
    width: 75px;
    height: 71px;
    background-color: #5e42b0;;
    border-radius: 13px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    z-index: 2;
}

.footer_logo__card {
    margin: auto;
}

.footer_logo__svg {
    width: 55px;
    height: 47px;
    fill: #ffffff;
}

.footer_title {
    padding-bottom: 0;
    padding-top: 55px;
    margin-top: 0;
    margin-bottom: 0;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.footer_title__big {
    font-size: 32px;
    margin: 0;
}

.footer_title__little {
    font-size: 14px;
    color: #9b8ec1;
    margin: 0;
}

.footer__surface_logo {
    margin-top: 75px;
}

@media (min-width: 641px) {
    
    .surface_logo_text, 
    .footer__surface_logo {
        width: 205px;
        height: 55px;
    }

    .title {
        font-size: 64px;
        line-height: 72px;
        margin: 155px auto 290px;
    }

    .header__store-buttons {
        flex-direction: row;
        justify-content: center;
        width: 100%;
   
    }

    .header__store-button {
        width: 45%;
        max-width: 310px;
        height: 77px;
        border-radius: 37px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .header__store-button:nth-child(2) {
        margin-left: 30px;
    }

    .header__store-button__app, 
    .header__store-button__google {
        padding-left: 13%;
        width: 87%;
    }

    .app_store, .google_play {
        width: 44px;
        height: 44px;
    }

    .store-button__title {
        margin-left: 10%;
    }

    .store-button__title_one, 
    .store-button__title_two {
        font-size: 14px;
    }

    .container_athlets__header,
    .container_players__header,
    .section_container__header {
        font-size: 80px;
    }

    .container__card_01 {
        background-color: #ffffff;
    }

    .container__card_header, 
    .container__card_header_02, 
    .container_players__card_header_03,
    .container__card_header_03 {
        padding-left: 30px;
    }

    .container__card_header::before, 
    .container__card_header_02::before, 
    .container_players__card_header_03::before,
    .container__card_header_03::before {
        font-size: 18px;
    }

    .container__card_header::after, 
    .container__card_header_02::after, 
    .container_players__card_header_03::after,
    .container__card_header_03::after {
        border-radius: 2px;
        width: 22px;
        height: 5px;
        top: 27px;
    }

    .footer_logo {
        width: 130px;
        height: 135px;
        border-radius: 36px;
    }

    .footer_logo__svg {
        width: 105px;
        height: 85px;
    }

    .footer_title__big {
        font-size: 10.3vw;
    }

    .footer_title__little {
        font-size: 4.6vw;
        font-weight: 400;
    }
}

@media (min-width: 641px) and (max-width: 960px) {

    .header {
       padding: 40px 30px 90px;
    }

    .header::after {
        background-image: url("../images/football_1280.jpg");
    }

    .container_athlets,
    .container_players {
        padding-top: 55px;
        overflow: hidden;
    }
    
    .container_athlets__image {
        left: -150px;
        top: 93px;
    }

    .container_players__image {
        left: 55%;
        top: 55px;
    }

    .container__card_01, 
    .container__card_02,
    .container__card_03, 
    .container_players__card_03{
        padding: 10px 32px 35px 38%;
    }

    .container_athlets__header {
        padding-left: 38%;
        padding-right: 32px;
    }

    .container_athlets__header,
    .container_players__header {
        margin-bottom: 0;
    }

     
    .container_players__header ~ section,
    .container_players__header {
        padding-left: 30px;
    }

    .container__card_header, 
    .container__card_header_02, 
    .container_players__card_header_03,
    .container__card_header_03  {
        font-size: 32px;
        margin-bottom: 20px;
    }

    .container_players .container__card_content,
    .container_players .container__card_content_02,
    .container_players__card_content_03 {
        width: 60%;
    }

    .container__card_content,
    .container__card_content_02,
    .container__card_content_03,
    .container_players__card_content_03 {
        font-size: 16px;
        line-height: 28px;
    }

    .section_container__card_01, 
    .section_container__card_02, 
    .section_container__card_03 {
        padding: 40px 32px 75px;
    }

    .section_container__card_01::before,
    .section_container__card_02::before,
    .section_container__card_03::before {
        width: 116px;
        height: 116px;
        font-size: 24px;
        line-height: 116px;
        top: -90px;
        left: 30px;
    }

    .section_container__card_01::after,
    .section_container__card_02::after,
    .section_container__card_03::after {
        left: 73px;
        width: 28px;
        height: 5px;
        border-radius: 2px;
    }

    .section_container__content {
        font-size: 24px;
        letter-spacing: 1px;
        line-height: 28px;
    }
    
    .footer {
        padding: 120px 1% 25px;

    }

    .footer::after {
        background-image: url("../images/game_1280.jpg");
    }

    .footer_logo_title {
        margin-bottom: 280px;
    }
}

@media (min-width: 961px) {

    .header {
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 35px;
        padding-bottom: 100px;
    }
     
    .header::after {
        background-image: url("../images/football_1920.jpg");
    }

    .surface_logo_text, 
    .footer__surface_logo {
        width: 190px;
        height: 52px;
    }

    .title {
        font-size: 90px;
        line-height: 80px;
        max-width: 1920px;
        margin: 260px auto 190px;
    }

    .title_two {
        min-width: 700px;
    }

    .header__store-button__googles {
        margin-left: 50px;
    }

    .main {
        max-width: 1920px;
        margin-left: auto;
        margin-right: auto;
    }

    .container_players,
    .container_athlets {
        padding-top: 90px;
        overflow: hidden;
    }

    .container_athlets__header,
    .container_players__header {
        margin-bottom: 20px;
    }

    .container__card_01,
    .container__card_02,
    .container__card_03 {
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .container__card_header, 
    .container__card_header_02, 
    .container_players__card_header_03,
    .container__card_header_03  {
        font-size: 36px;
        margin-bottom: 20px;
    }
    
    .container__card_content,
    .container__card_content_02,
    .container__card_content_03,
    .container_players__card_content_03 {
        font-size: 20px;
        letter-spacing: 1px;
        line-height: 28px;
    }

    .container_athlets__image {
        left: 10%;
        top: 30px;
    }

    .container_players__image {
        left: 45%;
        top: 40px;
    }

    .container_athlets__header,
    .container_athlets .container__card_01,
    .container_athlets .container__card_02,
    .container_athlets .container__card_03 {
        padding-left: 60%;
        padding-right: 10%;
    }

    .container__card_header::after, 
    .container__card_header_02::after, 
    .container_players__card_header_03::after,
    .container__card_header_03::after {
        top: 30px;
    }

    .container_players__header,
    .container_players .container__card_01,
    .container_players .container__card_02,
    .container_players__card_03 {
        padding-left: 10%;
        padding-right: 50%;
    }

    .section_container_01,
    .section_container_02,
    .section_container_03 {
        flex-direction: row;
        max-width: 1920px;
        margin-left: auto;
        margin-right: auto;
    }

    .section_container__images {
        width: 50%;
    }
    
    .section_container__card_01,
    .section_container__card_02,
    .section_container__card_03 {
        width: 50%;
        box-sizing: border-box;
        padding-right: 6%;
        padding-left: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .section_container__card_02 {
        order: -1;
        padding-left: 6%;
        padding-right: 10%;
    }

    .section_container__card_01::before, 
    .section_container__card_02::before,
    .section_container__card_03::before {
        width: 150px;
        height: 150px;
        line-height: 150px;
        font-size: 24px;
    }

    .section_container__card_01::before,
    .section_container__card_03::before {
        top: 210px;
        left: -75px;
    }

    .section_container__card_02::before {
        top: 210px;
        left: calc(100% - 75px);
    }

    .section_container__card_01::after, 
    .section_container__card_02::after, 
    .section_container__card_03::after {
        width: 26px;
        height: 5px;
    }

    .section_container__card_01::after,
    .section_container__card_03::after {
        top: 300px;
        left: -13px;
    }

    .section_container__card_02::after {
        top: 300px;
        left: calc(100% - 13px);
    }

    .section_container__header {
        font-size: 80px;
        line-height: 60px;
        margin-bottom: 80px;
    }

    .section_container__content {
        font-size: 24px;
        line-height: 28px;
        max-width: 635px;
    }

    .footer {
        padding: 220px 5% 45px;
        align-items: center;
    }
    
    .footer::after {
        background-image: url("../images/game_1920.jpg");
    }

    .footer_logo_title {
        flex-direction: row;
        align-items: center;
        margin-bottom: 150px;
    }

    .footer_logo {
        margin-right: 30px;
    }

    .footer_title {
        padding-top: 0;
        align-items: flex-start;
    }
    
    .footer_title__big {
        font-size: 80px;
    }

    .footer_title__little {
        font-size: 30px;
    }

    .footer .header__store-buttons {
        margin-bottom: 195px;
    }
}
